## .gitignore optimized for IntelliJ Android Studio and Eclipse ADT

*.apk
*.iml
*.iws
*.ipr
*.gradle
gradlew
gradelew.bat

.idea/
.gradle/
gen/
out/
proguard_logs/
Test/

# for Eclipse:

*.ap_
*.dex
*.class
*.properties
.classpath
.project

bin/
